@import "./bootstrap.css";

.zoom-on-hover {
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  cursor: pointer;
  color: var(--bs-secondary);
}

.ellipsis-v {
  transition: background-color 0.5s ease;
}

.ellipsis-v:hover {
  cursor: pointer;
  background-color: var(--bs-gray-200);
}
