@import "./bootstrap.css";

.zoom-on-hover {
  transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: var(--bs-secondary);
}

.ellipsis-v {
  transition: background-color 0.5s ease;
}

.ellipsis-v:hover {
  cursor: pointer;
  background-color: var(--bs-gray-200);
}

.loading-bg {
  background-color: black;
  opacity: 0.6;
  z-index: 100000;
  position: fixed;
  height: 100vh;
  width: 100vw;
}
